/* Basisopmaak */
body {
    background-color: black;
    color: aliceblue;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}



.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Style for the images in the slideshow */
.slideshow-img {
    display: none;
    width: 100%;
    height: auto;
}

/* Style for the navigation dots */
.dot-container {
    text-align: center;
    margin-top: 20px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

/* Style for the active dot */
.active {
    background-color: #333;
}

/* Container voor linker- en rechterdeel */
.container {
    display: flex;
    /* Hiermee worden de kinderen (linker- en rechterdeel) naast elkaar geplaatst */
    height: 100vh;
}

/* Het linkerdeel (30% breedte) */
.left-side {

    color: rgba(186, 146, 16, 0.9);
    text-align: center;
    width: 15%;
    background-color: black;
    overflow: auto;
    height: 100vh;
}

.img1 {
    padding: 0px 70px 0px;
    width: 50%;
}

/* Middenvlak scrolbaar*/
.middle-scroll {
    color: black;
    width: 70%;
    overflow: auto;
    height: 100%;
    /* padding: 0px  ; */
}

/* Middenvlak opmaak*/

.blok {
    /* zet maps een teksvlak naast elkaar met tussenruimte*/
    margin-left: 120px;

}

.content {
    display: flex;
    padding: 50px;
}

.iframe-container {
    display: flex;
    /*align-items: center; /* Verticaal centreren van de inhoud */
}

/* Het rechterdeel (70% breedte) */
.right-side {
    color: white;
    font-weight: bold;
    width: 20%;
    overflow: auto;
    height: 100%;
    padding: 0px;
    text-align: center;
   
    overflow-x: hidden;
    /* Voorkom horizontaal scrollen */
    overflow-y: auto;
    /* Sta verticaal scrollen toe als de inhoud te lang is */
}
.photo:hover {
    transform: scale(1.2);
    /* Vergroot de foto met 20% */
    transition: transform 0.3s;
    /* Voeg een vloeiende overgang toe */
}
.download-button {
    color: green;
}
h2 {
    font-size: 32px;
    text-align: center;
    color: rgba(186, 146, 16, 0.9);
}

h4 {
    text-align: center;
}

.Medew {
    font-weight: normal;
}

table {
    border-collapse: collapse;
    width: 100%;
}

/* Voeg een border toe aan alle cel-elementen */
table,
th,
td {
    background-color: rgba(237, 202, 85, 0.3);
    border: 1px solid #000;
    /* Hiermee wordt een zwarte rand van 1px toegevoegd */
    padding: 8px;
    /* Voeg wat ruimte rond de inhoud van elke cel toe */
    text-align: left;
    /* Hiermee wordt de tekst links uitgelijnd in de cellen */
    border-radius: 10px;
    /* Hiermee worden de hoeken van de tabel afgerond */
}

/* Voeg een achtergrondkleur toe aan de koprij */
th {
    background-color: rgba(237, 202, 85, 0.9);
}

.kap {
    font-weight: bold;
}

.pano {
    padding: 30px 90px;
    width: 80%;
}

/* .imgelsie {
    padding-left: 10px;
}

.imglid {
    padding-left: 30%;
} */

/*------------------------------------------ Opmaak menu knoppen----------------------------------------*/


section article {
    /*deze opmaak word toegepast per artikkel, dus 3 apparte kaders, als je dit article weglaat en enkel section in deze code zet heb  je 1 kader.*/
    border: 3px solid black;
    border-radius: 0px 20px 20px 20px;
    /*Voor het afronden van de kaderhoeken*/
    margin: 20px 10px 20px 20px;
    /* Ruimte rond de kaders: Boven, Rechts, Onder, Links*/
    padding: 10px;
    /*Ruimte in de kaders*/
    background: white;
}

article h2 {
    font-size: 200%;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: black;
    text-align: left;
    text-shadow: 5px 5px 7px #5932a3;
    /*Eerste twee opties (beide 5px ) zijn het aantal pixels naar rechts en naar beneden 
                                            De derde optie (7px) is een maat voor hoe vaag of hoe scherp de schaduw hoe groter getal hoe vager de schaduw.*/
}

article p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer {
    background: white;
    /*Witte achtergrond voor footer*/
}

footer h6 {
    text-align: center;
    font-weight: normal;
    font-size: 90%;
}

.wrapper {
    margin: 0 auto 0 auto;
    width: 960px;
}

.menu-item {
    text-decoration: none;
    /* Verwijder onderstreping van links */
    transition: color .3s ease, text-shadow .3s ease, font-weight 50ms ease-in-out;
    display: block;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1rem;
    text-align: center;
}

.menu-item-selected {
    background-color: rgb(191, 103, 10);
    transition: background-color .3s ease, text-shadow .3s ease, font-weight 50ms ease-in-out;
    display: block;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1rem 2rem;
    /* Hier heb ik de rechter- en linker-padding versmald */
    text-align: center;
    border-radius: 10px;
    color: white;
}


.menu-item-text:hover {
    color: rgb(191, 103, 10);

    /* Pas de gewenste kleur toe bij mouse-over */
}

.menu-item-text {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: wheat;
    /* Standaard tekstkleur */
    transition: color 0.3s;
    /* Voeg een overgangseffect toe voor kleurverandering */
}


.menu {
    display: flex;
    justify-content: space-between;
    /* Hiermee worden de knoppen gelijkmatig verdeeld */
}

.menu-list {

    padding: 0px 80px;
    display: flex;
}

.menu-list li {
    margin: 0 50px;
    /* Voeg wat ruimte tussen de knoppen toe */
}

#button1,
#button2 {
    background-color: black;
    color: black;

}

ul.menu-list li a,
ul.menu-list li button {

    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
    /* Tekstkleur voor zowel links als knoppen */
    /*background-color: rgba(237, 202, 85, 0.3);*/
    /* Achtergrondkleur voor zowel links als knoppen */
    cursor: pointer;
    /* Verander de cursor in een handje om aan te geven dat het klikbaar is */
    display: inline-block;
    /* Zorg ervoor dat zowel links als knoppen inline-block zijn */
    margin: 5px;
    /* Voeg wat ruimte tussen de elementen toe */
}

/* Stijl voor zowel links als knoppen in de specifieke <ul> wanneer er overheen wordt gehoverd */
ul.menu-list li a:hover,
ul.menu-list li button:hover {
    background-color: #bbb;
    /* Pas de achtergrondkleur aan bij mouse-over */
    color: white;
    /* Pas de tekstkleur aan bij mouse-over */
}

ul {
    list-style: none;
    padding: 0;
}

ul li a {
    color: white;
    text-decoration: none;
}

ul li a:hover {
    color: #C0C0C0;
}





